.h1 {
  color: whitesmoke;
  font-family: 'Press Start 2P';
  font-size: 10vw;
  text-align: center;
}

.wrapper {
  align-items: center;
  background: lightseagreen;
  display: flex;
  height: 800px;
  justify-content: center;
  width: 100%;
}
