.h2 {
  position: relative;
  color: darkslategray;
  text-transform: uppercase;
  font-size: 2.5vw;
  margin-bottom: 5vw;
  font-family: 'Press Start 2P';
}

.letter {
  background: whitesmoke;
  margin-top: -2%;
  margin-left: -5%;
  margin-right: 2%;
  height: auto;
  transform: rotateZ(4deg);
  position: relative;
  right: 0;
  box-shadow: 15px 20px 15px 0 rgba(0, 0, 0, 0.2);
}

.letterContent {
  margin: 10vw;
  font-size: 1.3vw;
}

.p {
  font-family: 'Space Mono';
  margin-bottom: 1.5vw;
  line-height: 2vw;
}

.p:first-of-type {
  margin-bottom: 4vw;
}

.signature {
  font-family: 'Dawning of a New Day';
  font-size: 3vw;
  margin-top: 5vw;
  margin-bottom: 8vw;
}

@media (max-width: 800px) {
  .h2 {
    font-size: 4.5vw;
  }

  .letter {
    width: 100%;
    margin: 0;
    transform: rotateZ(0deg);
    box-shadow: none;
  }

  .letterContent {
    margin: 6vw;
    font-size: 3vw;
  }

  .p {
    font-size: 3.5vw;
    line-height: 4.5vw;
    margin-bottom: 5vw;
  }

  .signature {
    font-size: 6vw;
  }
}
