.footer {
  align-items: center;
  background: black;
  /* bottom: 0; */
  color: whitesmoke;
  font-family: 'Press Start 2P';
  font-size: 2vw;
  display: flex;
  justify-content: center;
  /* left: 0; */
  padding-top: 0.8vw;
  padding-bottom: 0.8vw;
  /* position: absolute;
  right: 0; */
  width: 100%;
}

.text {
  text-align: center;
}

@media (max-width: 800px) {
  .footer {
    flex-direction: column;
    font-size: 5vw;
  }

  .text {
    line-height: 7vw;
  }
}
